
body{
    font-family: Montserrat, sans-serif;
    background-color: rgb(192, 201, 210);
    font-size: 16px;
}

th{
    font-weight: bold;
}
.deleteButton {
    background-color: #ec8383;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}
.completedButton {
    background-color: #74bda0;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

table, th, td {
    border: 1px solid;
  }

  tr:nth-child(even), th {
    background-color: rgb(201, 200, 197);
  }
  tr:nth-child(odd) {
    background-color: rgb(222, 222, 222);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .completed{
    background-color: #74bda0 !important;
    text-decoration: line-through !important;
}

#addItem, h1, h2{
    text-align: center;
}

h1{
    background-color: rgb(201, 200, 197);
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#completedIn{
    margin-top: 3px;
    width: 90px;
}
#addButton{
        background-color: rgb(201, 200, 197);
        color: black;
        border: 1px solid black;
        border-radius: 3px;
        padding: 4px 10px;
        cursor: pointer;
        margin-top: 3px;
        font-size: 14px;
}

input[type="text"] {
    width: 120px;
    padding: 3px;
    background-color: rgb(222, 222, 222);
    text-transform: capitalize;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
  }




  